/* card */
.card {
  @apply bg-white-primary shadow-md rounded-md;
}
/* button */
.btn-primary {
  @apply bg-purple-secondary text-white-primary text-medium-14 flex items-center justify-center py-2 px-5 rounded-md;
}
.btn-outline {
  @apply bg-white-primary text-gray-secondary hover:text-gray-primary text-medium-14 border-[1px] border-opacity-30 border-gray-secondary flex items-center justify-center py-2 px-5 rounded-md;
}
/* appselect */
select{
    outline: none;
}
select:focus{
    outline: 1px solid purple;
}
/* modal css */
@keyframes slideIn {
  from {
    top: -600px;
  }
  to {
    top: 0;
  }
}

.modal {
  position: absolute;
  top: 0; /* Initial position off-screen */
  left: 0;
  right: 0;
  animation: slideIn 0.5s ease-in-out; /* Adjust the duration and easing as needed */
}
/* checkbox */
.ant-checkbox .ant-checkbox-inner {
  width: 18px;
  height: 18px;
  border: 2px solid purple !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  width: 18px;
  height: 18px;
  background-color: purple !important;
  border-color: transparent;
}